.login-form{
    display: flex;
    justify-content: center;
}

.login-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    font-weight: bolder;
}

.header-login{
    text-align: center;
}

input{
    margin-bottom: 10px;
}

.login-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.submit-button{
    width: 100%;
    line-height: 48px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bolder;
    border: none;
    padding: 5px;
}

.disabled-submit-button{
    background-color: rgb(119, 114, 114);
}

.google-signin-button{
    background-color:dodgerblue;
}

.google-signin-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.underline-anchor{
    text-decoration: underline;
}

label{
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .login-container{
        width: 300px;
    }
    .login-footer > span{
        font-size: 17px !important;
    }
}