.order-header{
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.order-container{
    margin: 25px auto 0px auto;
    display: flex;
    flex-direction: column;
    width: 62%;
    overflow: visible;
    margin-bottom: 90px;
    //min-height: 460px;
}

.no-order-item{
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}


@media only screen and (max-width: 600px) {
    .order-container{
        width: 85%;
    }
    .no-order-item{
        font-size: 25px;
    }
}