.order-item-container{
    display: flex;
    height: 100px;
    margin-bottom: 10px;
    background-color: rgb(252, 246, 246);
    padding: 8px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    color:rgb(119, 145, 5);
    //color: rgb(124, 123, 34);
    &:hover{
        background-color: rgb(240, 230, 230);;
    }
}

.order-details{
    padding: 5px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.order-status{
    margin-left: 5px;
}

.order-status-img{
    width: 28px;
    height: 28px;
}

.order-name-container{
    width: 60%;
    display: flex;
}

.order-name{
    color: #6034db;
}

.order-price{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 20%;
    margin-bottom: 10px;
}

.order-time{
    width: 20%;
}

.action-items{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 10%;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.plus-button{
    color: rgb(8, 192, 8);
}

.minus-button{
    color: rgb(243, 13, 13);
}

.accordion-content{
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    color: rgb(96, 105, 16);
    transition: all 0.6s ease-out;
    font-weight: 600;
}

.address-container{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.productlist-container{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.accordion-content-header{
    font-size: 20px;
    color: rgb(83, 113, 212);
}
.accordion-content-details{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .order-item-container{
        font-size: 15px;
        height: 120px;   
    }
    .order-details{
        padding: 0px;
    }
    .order-time{
        width: 100%;
    }
    .order-price{
        width: 40%;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
    }
    .address-container{
        width: 100%;
    }
    .productlist-container{
        width: 100%;
        margin-bottom: 10px;  
    }

    .action-items{
        font-size: 27px;
    }

    .accordion-content{
        flex-direction: column;
    }
    .accordion-content-header{
        font-size: 16px;
    }
    .accordion-content-details{
        font-size: 14px;
    }
    .order-status-img{
        width: 25px;
        height: 25px;
    }
}