.sidebar-container {
  height: 100vh;
  width: 320px;
  background-color: black;
  color: white;
  font-weight: bold;
  position: fixed;
  left: -100%;
  transition: 800ms;
  font-size: 1.54rem;
  ul {
    list-style: none;
    padding: 0;
    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0px 8px 15px 15px;
      transition: background-color 0.3s ease-out;
    }
    li:hover {
      background-color: #fdbf00;
      cursor: pointer;
    }
  }
  z-index: 1001;
}

.sidebar-container.active {
  left: 0;
  transition: 400ms;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding: 1.5rem 0.8rem 1.5rem 1.5rem;
  background-color: #fdbf00;
  min-height: 120px;

  .sidebar-user {
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
  }
  .sidebar-login-button {
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
    font-weight: bold;
  }
  .sidebar-login-button:hover {
    text-decoration: underline;
  }
}

.sidebar-close-btn {
  color: rgb(170, 69, 11);
  cursor: pointer;
  font-size: 1.6rem;
  width: 42px;
  height: 42px;
  text-align: center;
}

.sidebar-close-btn:hover {
  background-color: #cfab3f;
  border-radius: 50%;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 500;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (max-width: 600px) {
  .sidebar-container {
    width: 270px;
    ul {
      li {
        font-size: 1.4rem;
      }
    }
  }
}
